.navbarContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: black;
    color: white;
    padding: 10px 20px; 
    width: 100%; 
  }
  
  .navbarContainer h2 {
    margin: 0 60px; 
  }
  
  .imagen_gorilla {
    height: 50px;
    width: auto; 
  }

  

